.section-image {
    object-fit: cover !important;
    max-width: 40%;
    margin-right: 25px;
}

.section-image img {
    width: 100%;
}

.section-text {
    width: 50%;
}

.btn {
    --bs-btn-color: rgb(37, 37, 37);
    --bs-btn-bg: #F79418;
}

.btn:hover {
    color: #F79418;
}

.section {
    background-color: white;
    display: flex !important;
    justify-content: start !important;
    margin: 20px;
    border-radius: 15px;
}

.content {
    margin: 30px;
    display: flex !important;
    justify-content: start !important;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .section {
        flex-wrap: wrap;
    }

    .content {
        flex-wrap: wrap;
    }
}
