* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-image: url('/public/image/backgrounds/fundo-site-arte-na-rede1.png');
}

main {
  padding: 100px 0 30px;
}

.carousel-item img {
  object-fit: cover !important;
  width: 100vw;
  height: 100vh;
}


