@font-face {
  font-family: Amarillo;
  src: url('../public/fonts/Amarillo.otf');
}

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-image: url('/public/image/backgrounds/fundo-site-arte-na-rede1.png');
}

main {
  padding: 100px 0 30px;
  
}

.carousel{
  /* object-fit: cover !important; */
  /* position: ; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Amarillo;
  color: #fff;
  font-size: 5em;
  text-decoration: underline #F79418;
}
